{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}
<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <img class="footer-logo" src="{=site.url('images/logo.png')}" alt="" width="640" height="611">
      <p class="footer-brand">Mr Frankie</p>
      <p>Peace, love and Mr Frankie.</p>
      <p><a href="https://www.google.com/maps/search/?api=1&amp;query=48+Norman+Avenue+Frankston+South+VIC+3199" rel="noopener">48 Norman Avenue,<br>Frankston South, Victoria 3199</a></p>
    </div>
    <div>
      <h3>Opening hours</h3>
      <table class="hours">
        <tr><th scope="row">Monday</th><td>Closed</td></tr>
        <tr><th scope="row">Tuesday to Saturday</th><td>7.00am to 2.30pm</td></tr>
        <tr><th scope="row">Sunday</th><td>8.00am to 2.00pm</td></tr>
      </table>
    </div>
    <div>
      <h3>Bookings</h3>
      <p>Available for groups of 8 or more.</p>
      <p><a href="tel:+61387523149">(03) 8752 3149</a><br><a href="mailto:bookings@mrfrankie.com.au">bookings@mrfrankie.com.au</a></p>
      <h3>Questions</h3>
      <p><a href="mailto:info@mrfrankie.com.au">info@mrfrankie.com.au</a></p>
    </div>
    <div>
      <h3>Pages</h3>
      <ul>
        <li><a href="{=site.url}">Home</a></li>
        <li><a href="{=site.url('about')}">About Us</a></li>
        <li><a href="{=site.url('menus')}">Our Menus</a></li>
        <li><a href="{=site.url('contact')}">Contact Us</a></li>
      </ul>
      <h3>Follow us</h3>
      <ul>
        <li><a href="https://www.instagram.com/mr.frankiecafe/" rel="noopener">Instagram: @mr.frankiecafe</a></li>
        <li><a href="https://www.instagram.com/mrfrankiebynight/" rel="noopener">Instagram: @mrfrankiebynight</a></li>
        <li><a href="https://www.facebook.com/mrfrankiecafe/" rel="noopener">Facebook</a></li>
      </ul>
    </div>
  </div>
  <div class="container footer-bottom">
    <p>&copy; Mr Frankie, Frankston South. All rights reserved.</p>
  </div>
</footer>
